[user]
	email = nnmmgit@gmail.com
	name = nnmm

[push]
	default = current

[branch]
	sort = -committerdate

[core]
	editor = micro
	pager = delta

[delta]
	line-numbers = true

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3
	renamelimit = 153450

[alias]
	amend = commit --amend --no-edit --author='Nikolai Morin <nikolai.morin@apex.ai>'
	pushypush = push --force-with-lease
