[Desktop Entry]
Name=Rxvt Color Unicode Terminal (Tabbed)
Comment=Use the command line
TryExec=urxvt
Exec=urxvt -pe tabbed
Icon=fish_tabbed.png
Type=Application
Categories=Utility;TerminalEmulator;
StartupNotify=true
Keywords=Run;
Actions=New

[Desktop Action New]
Name=New Rxvt Color Unicode Terminal
Exec=urxvt -pe tabbed
OnlyShowIn=Unity
